#Turn Rewrite Engine On
RewriteEngine on

#hide php extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

#Rewrite for full blog
RewriteRule ^mail index.php [NC,L]

#NC makes the rule non case sensitive
#L makes this the last rule that this specific condition will match


#rewrite for fullblog.php?id=XXXX
#http://localhost/MyWebsite/fullblog/1
RewriteRule ^fullblog/([0-9a-zA-Z]+) fullblog.php?bid=$1 [NC,L]

RewriteRule ^blogs/([0-9a-zA-Z]+) blogs.php?category=$1 [NC,L]

#rewrite for fullblog.php?bid=1&title=title
#http://localhost/MyWebsite/fullblog/1/title
RewriteRule ^fullblog/([0-9]+)/([0-9a-zA-Z_-]+) fullblog.php?bid=$1&title=$2 [NC,L]

RewriteRule ^blog/([0-9a-zA-Z]+)/([0-9]+) blogs.php?category=$1&page=$2 [NC,L]


#error document redirection
ErrorDocument 404 http://localhost/MyWebsite/errorpages/404
ErrorDocument 500 http://localhost/MyWebsite/404